<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="homepage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <div class="imglogo">
            <img class="imglogo1" src="./IMAGES/Q-CUT__3_-removebg-preview.png" alt="Logo">
        </div>
        <div class="content">
            <p class="content1">Home</p>
            <p class="content1">Din-In</p>
            <p class="content1">Contact us</p>
            <p class="content1">About us</p>
        </div>
        <div class="login">
            <div class="basket1">
                <span class="dot" id="doticon"></span>
                <img class="basketicon" src="./IMAGES/bag_icon.png" alt="Basket">
            </div>
            <div class="basket1">
                <img class="basket" src="./IMAGES/profile_icon.png" alt="Profile">
            </div>
        </div>
    </div>
    <div class="body">
        <img class="headerimg" src="./IMAGES/header_img.png" alt="Header Image">
        <div class="imgtext">
            <h1>Welcome to Q-CUT<br>Order your Favourite food</h1>
            <p>Order delicious food or</p><p>select a time and place to Din-In</p>
        </div>
    </div>
    <div class="menu">
        <div class="heading">
           <h2>Explore Our Menu</h2>
           <p>Choose from a diverse menu featuring a delectable array of dishes</p>
           <p>our mission is to satify ur cravings</p>
        </div>
    </div>
    <div class="menuitems">        
    </div>
    <div class="topdishes">
        <hr>
    </div>
    <div class="menu">
        <div class="heading">
           <h2>Top dishes to order</h2>
           <p>Choose from a diverse menu featuring a delectable array of dishes</p>
           <p>our mission is to satify ur cravings</p>
        </div>
       
    </div>
<div class="order">
    <div class="card">
        <img src="./IMAGES/food_19.png">
        <div class="card-content">
            <div class="card-title">hi</div>
            <div class="stars">★★★★☆</div>
            <div class="card-text">Food provides essential nutrients for overall health and well-being</div>
            <div class="card-price">200</div>
            
        </div>
    </div>  
</div> 
<div class="my">

</div>



    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 border-top" style="margin-bottom: 0;">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="30"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p class="text-body-secondary" style="margin-left: 20px;">© 2024</p>
      </div>
  
      <div class="col mb-3">
  
      </div>
  
      <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>
    </footer>

    <script src="data.js"></script>
    <script src="index1.js"></script>
    <script src="sql.js"></script>
    <script src="bag.js"></script>
    <script src="index1.js"></script>
</body>
</html>
